.pg-profile-form {
  @apply max-w-[32rem] mx-auto;
}
.pg-profile-form__avatar {
  @apply flex items-center flex-row-reverse justify-between flex-wrap mt-8;
}
.pg-profile-form__avatar > label {
  @apply w-36 h-36 inline-block;
}
.pg-profile-form__avatar-image > .userImgPreview > img {
  @apply rounded-full;
  -o-object-fit: fill;
     object-fit: fill;
  aspect-ratio: 1/1;
}
.pg-profile-form__avatar-text {
  @apply text-sm font-bold w-full;
}
.pg-profile-form__name {
  @apply flex flex-col gap-1 mt-16;
}
.pg-profile-form__name > label {
  @apply text-sm font-bold;
}
.pg-profile-form__name > input {
  @apply rounded;
  border: 1px solid gray;
}