@charset "UTF-8";
.pg-transaction-chatPage {
  @apply max-w-[1280px] mx-auto w-full px-9 pt-28 h-screen;
  min-height: calc(-64px + 100vh);
}

.pg-transaction-chatPage-inner {
  @apply grid h-full;
  grid-template-columns: repeat(12, 1fr);
  overflow: hidden;
}
.pg-transaction-chatPage-inner .c-headline-base {
  @apply text-left pt-0;
}

.pg-transaction-chatPage-inner-content {
  @apply min-w-0 block relative pr-12;
  grid-column: span 4;
  position: -webkit-sticky;
  position: sticky; /* スクロール時に固定 */
  top: 0;
}
.pg-transaction-chatPage-inner-content__button {
  @apply absolute -top-9 left-0;
}
.pg-transaction-chatPage-inner-content__list {
  @apply flex flex-col gap-4 mt-4;
}
.pg-transaction-chatPage-inner-content__item {
  @apply pb-4 flex items-center;
  border-bottom: 1px solid #ccc;
}
.pg-transaction-chatPage-inner-content__item-left {
  flex: 1 1;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.4em;
}
.pg-transaction-chatPage-inner-content__item-right {
  flex: 1.75 1;
}

.pg-transaction-chatPage-inner-message {
  @apply min-w-0 block;
  grid-column: span 8;
  flex-grow: 1; /* メッセージエリアが余った高さを占める */
  overflow-y: auto;
}
.pg-transaction-chatPage-inner-message__input {
  @apply w-full rounded-md h-25 p-3;
  border: 1px solid #ccc;
}
.pg-transaction-chatPage-inner-message__name {
  @apply w-full font-bold;
}
.pg-transaction-chatPage-inner-message__form {
  @apply mt-4 pb-12;
}
.pg-transaction-chatPage-inner-message .message {
  @apply mt-4 pl-12 relative;
}
.pg-transaction-chatPage-inner-message .commonMessage {
  @apply w-full p-2 font-normal leading-snug mt-1 bg-[#f5f5f5] rounded-xl;
}
.pg-transaction-chatPage-inner-message .message-time {
  @apply text-[#666] font-normal leading-snug mt-1 text-xs;
}
.pg-transaction-chatPage-inner-message .c-header__image {
  @apply absolute top-0 left-0;
}