@use "../../object/utility/contents_style" as *;

.pg-profile{
    &__content{
        @include u-sp-contents-padding;
    }
}

.pg-profile-form {
    @include u-512px-contents-width;

    &__avatar{
        @apply w-full lg:w-auto justify-center  flex items-center flex-row-reverse flex-wrap mt-8;
        & > label{
            @apply mt-4  w-36 h-36 inline-block;
        }

        & > input {
            @apply text-sm lg:text-lg;
        }
    }

    &__avatar-image{
        & > .c-thumbnail{
            & > img{
                @apply rounded-full;
                object-fit: fill;
                aspect-ratio: 1 / 1;
            }
        }
    }
    &__avatar-text{
        @apply text-sm font-bold w-full;
    }

    &__name{
        @apply flex flex-col gap-1 mt-16;
        & > label{
            @apply text-sm font-bold;
        }

        & > input{
            @apply rounded;
            border: 1px solid gray;
        }
    }
}
