/// colors
/// アプリで使うカラーは全てここにトークン化してください。
$mainBlue: #009ece;
$subOrange: #ff5f41;
$bgGray: #ebebeb;
$gray: #707070;
$mainBlack: #626262;
$white: #fff;
$gradation: linear-gradient(60deg, #6ce6fc 0%, #009ece 100%);
$gradation120: linear-gradient(120deg, #6ce6fc 0%, #009ece 100%);
$gradationRequired: linear-gradient(180deg, #6ce6fc 0%, #009ece 100%);
